#footer {
    background: rgb(37, 35, 35) !important;
    position: fixed;
    width: 100%;
    bottom: 0%;
}

#footer a {
    position: absolute;
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

